h1 todo list Food
form(action="/todos", method="GET")
     input(type/text, name="q")
     button search
ul 
   each user in todo
    li= user.name
    
form(action="/todo/create", method="POST")
     label name
     br
     input(type/text, name="todo")
     button Create